body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:white;
}

.menu {
    width: 100%;
    height: auto;
    margin: 0px;
    box-sizing: border-box;
    background-color: #5f0609;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
} 


.menu li{
    display: inline-block;
}

.menu a:link{
    text-decoration: none;
    color:#f2e7d2;
}

.banner-container {
    position: relative;
    width: 100%;
}

.banner-img{
    position: relative;
    max-width: 100%;
    opacity: 0.5;
    filter: brightness(50%);
}

.banner-text {
    position: absolute;
    font-family: "Playfair Display", serif;
}

.banner-text h1{
    color:#5f0609;
}

.banner-text h2{
    color: white;
}

.box-container-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    text-align: center;
    color: #f36444;
}

.box-container-content {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
}

.squared-box-content {
    box-sizing: border-box;
    display: inline-block;
    background-color: #f2e7d2;
}

.squared-box-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color:#5f0609;
}

.squared-box-text {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
}

.category-box-content {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid;
    border-color: lightgray;
    background-color: white;   
}

.category-list h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: #f36444;
    text-align: center;
}

.category-box-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color:#5f0609;
    text-align: center;
}

.category-box-img {
    object-fit: cover;
    overflow: hidden;
}

/*Mobile Devices: 319px — 480px*/
@media (min-width: 319px) and (max-width: 480px) {
    .menu {
        padding: 10px;
    }

    .menu ul {
        font-weight: 300;
        font-size: 14px;
    }

    .menu li {
        padding: 5px 10px 5px 10px;
    }

    .banner-text {
        padding: 20px 10%;
        line-height: 80%;
        transform: translate(0%, -100%);
    }

    .banner-text h1{
        font-weight: 800;
        font-size: 32px;
    }

    .banner-text h2{
        font-weight: 700;
        font-size: 24px;
    }
   
    .box-container {
        margin:10px 0px 10px 0px;
        padding: 10px 20px 10px 20px;
    }

    .box-container-title {
        font-size: 22px;
    }

    .box-container-content {
        font-size: 14px;
    }

    .squared-box-content{
        border-radius: 2%;
        width: 100%;
        padding: 10px 20px 10px 20px;
        margin:10px 0px 10px 0px;
    }

    .squared-box-title {
        font-size: 20px;
    }

    .squared-box-text {
        font-size: 14px;
    }

    .category-box-content {
        width: 100%;
        height:auto;
        padding: 30px 30px 20px 30px;
        margin:10px 0px 10px 0px;
        border-radius: 2%;   
    }

    .category-list h2 {
        font-size: 22px;
    }

    .category-box-title {
        font-size: 20px;
    }

    .category-box-img {
        width: 100%;
        height: 280px;
    }

    #box-size {
        margin: 0px 20px 0px 20px;
    }

}

/*iPads and Tablets: 481px — 1200px*/
@media (min-width: 481px) and (max-width: 1200px) {
    .menu {
        padding: 20px;
    }

    .menu ul {
        font-weight: 300;
        font-size: 14px;
    }

    .menu li {
        padding: 10px 10px 10px 10px;
    }

    .banner-text {
        padding: 10% 10%;
        line-height: 130%;
        transform: translate(0%, -120%);
    }

    .banner-text h1{
        font-weight: 800;
        font-size: 52px;
    }

    .banner-text h2{
        font-weight: 700;
        font-size: 38px;
    }

    .box-container {
        margin:20px 0px 20px 0px;
        padding: 20px 30px 20px 30px;
        text-align: center;
    }

    .box-container-title {
        font-size: 32px;
    }

    .box-container-content {
        font-size: 18px;
    }

    .squared-box-list {
        text-align: center;
    
    }

    .squared-box-content{
        width: 320px;
        height: 180px;
        border-radius: 4%;
        padding: 10px 20px 10px 20px;
        margin:20px 10px 20px 10px;
        vertical-align:top;

    }

    .squared-box-title {
        font-size: 24px;
    }

    .squared-box-text {
        font-size: 16px;
    }

    .category-box-content {
        width: 260px;
        height:auto;
        padding: 30px 30px 20px 30px;
        margin:10px 1px 10px 10px;
        border-radius: 4%;   
    }

    .category-list {
        text-align: center;
    }

    .category-list h2 {
        font-size: 32px;
    }

    .category-box-title {
        font-size: 24px;
    }

    .category-box-img {
        width: 100%;
        height: 280px;
    }

    #box-size {
        margin: 0px 40px 0px 40px;
    }
}


/*Laptops: 1201px — 1600px*/
@media (min-width: 1201px) and (max-width: 1600px) {
    .menu {
        padding: 40px;
    }

    .menu ul {
        font-weight: 500;
        font-size: 18px;
    }

    .menu li {
        padding: 10px 20px 10px 20px;
    }

    .banner-text {
        padding: 10% 10%;
        line-height: 180%;
        transform: translate(0%, -130%);
    }

    .banner-text h1{
        font-weight: 800;
        font-size: 80px;
    }

    .banner-text h2{
        font-weight: 700;
        font-size: 52px;
    }

    .box-container {
        margin:40px 0px 40px 0px;
        padding: 20px 50px 20px 50px;
        text-align: center;
    }

    .box-container-title {
        font-size: 52px;
    }

    .box-container-content {
        font-size: 28px;
    }

    .squared-box-list {
        text-align: center;
    }

    .squared-box-content{
        width: 380px;
        height: 300px;
        border-radius: 6%;
        padding: 20px 30px 20px 30px;
        margin:40px 20px 40px 20px;
        vertical-align:top;
    }

    .squared-box-title {
        text-align: center;
        font-size: 32px;
    }

    .squared-box-text {
        font-size: 24px;
    }

    .category-box-content {
        width: 320px;
        height:auto;
        padding: 30px 30px 20px 30px;
        margin:10px 20px 10px 20px;
        border-radius: 4%;
        vertical-align: top;   
    }

    .category-list {
        text-align: center;
    }

    .category-list h2 {
        font-size: 48px;
    }

    .category-box-title {
        font-size: 32px;
    }

    .category-box-img {
        width: 100%;
        height: 280px;
    }

    #box-size {
        margin: 0px 60px 0px 60px;
    }
}

/*Desktops: 1601px and more*/
@media (min-width: 1601px) {
    .menu {
        padding: 60px;
    }

    .menu ul {
        font-weight: 600;
        font-size: 24px;
    }

    .menu li {
        padding: 10px 50px 10px 50px;
    }

    .banner-text {
        padding: 10% 10%;
        line-height: 200%;
        transform: translate(0%, -130%);
    }

    .banner-text h1{
        font-weight: 800;
        font-size: 100px;
    }

    .banner-text h2{
        font-weight: 700;
        font-size: 72px;
    }

    .box-container {
        margin:40px 0px 40px 0px;
        padding: 20px 50px 20px 50px;
        text-align: center;
    }

    .box-container-title {
        font-size: 68px;
    }

    .box-container-content {
        font-size: 36px;
    }

    .squared-box-list {
        text-align: center;
    }

    .squared-box-content{
        width: 600px;
        height: 450px;
        border-radius: 6%;
        padding: 30px 40px 30px 40px;
        margin:40px 40px 40px 40px;
        vertical-align:top;
    }

    .squared-box-title {
        font-size: 48px;
        text-align: center;
    }

    .squared-box-text {
        font-size: 32px;
    }

    .category-box-content {
        width: 480px;
        height:auto;
        padding: 60px 40px 50px 40px;
        margin:30px 40px 30px 40px;
        border-radius: 6%;
        vertical-align: top;   
    }

    .category-list {
        text-align: center;
    }

    .category-list h2 {
        font-size: 56px;
    }

    .category-box-title {
        font-size: 48px;
    }

    .category-box-img {
        width: 100%;
        height: 400px;
    }

    #box-size {
        margin: 0px 80px 0px 80px;
    }
}